@model assignment_3.Models.UploadedData

<h1>Upload Data</h1>

<form method="post" enctype="multipart/form-data">
    <div>
        <label for="text">Text:</label>
        <input type="text" id="text" name="text" />
    </div>
    <div>
        <label for="file">Image:</label>
        <input type="file" id="file" name="file" />
    </div>
    <button type="submit">Submit</button>
</form>
